<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users!</title>
</head>
<body>
  <h1>Welcome to Reddit Clone!</h1>
  <h3>List of Users</h3>
  <ul>
    <% users.forEach(function (entry) { %>
      <li><a href=<%='/users/' + entry.id%>><%= entry.username %></a></li>
      <form method="POST" action="/users?_method=DELETE">
        <input type="hidden" name="id" value="<%= entry.id%>">
        <input type="submit" value="x">
      </form>
    <% }); %>
  </ul>
  <h3>Are you new?</h3>
  <a href="/users/new">Click here to join!</a>
</body>
</html>
