<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form method="POST" action="/posts/:postID/edit?_method=PUT">
    <input type="hidden" name="id" value="<%=comment.id%>">
    <input type="hidden" name="post_id" value="<%=comment.post_id%>">
    <input type="hidden" name="user_id" value="<%=comment.user_id%>">


    <textarea rows="4" name="comment_content"><%=comment.comment_content%></textarea>
    <<input type="submit">
  </form>
</body>
</html>
